@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

*{
    font-family: 'MuseoModerno', sans-serif;
}
body {
    background-color: rgb(103, 2, 2);
}

.title{
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advanteges';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';



@import 'base/media';