.reviews {
    padding-bottom: 50px;
    &__title {
        text-transform: uppercase;
    }
    &-block {
        display: flex;
        margin-top: 60px;
        img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
        &__text {
            padding-right: 60px;
            &-name {
                color: #0D0D0D;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px; /* 100% */
            }
            &-subname {
                color: #646464;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            &-descrp{
                color: #0D0D0D;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px; /* 150% */
            }
        }
    }
}